body {
    background-color: lightgray;
}

h1 {
    color: darkblue;
    text-align: center;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
}

input[type="submit"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: darkblue;
}
